@import url(style.css);

body{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.area-logo-btn{
    height: 100%;
    width: 42vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

.logo{
    font-size: 5rem;
    margin-bottom: 50px;
    gap: 14px;
}

.area-icon-livro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    height: 100%;
    width: 58vw;
    background-color: rgb(28, 33, 62);
}

h1{
    font-weight: 400;
    width: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    font-size: 40px;
    border-bottom: 2px solid white;
}

i{
    font-size: 15rem;
    color: rgb(77, 0, 150);
}

.btn{
    width: 44%;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    justify-content: center;
    height: 4%;
}

img{
    width: 100%;
    height: 100%;
}